# --------- main --------- #
torch==2.0.1
torchvision==0.15.2
pytorch-lightning>=1.7.1
torchmetrics>=0.10.0
einops>=0.5.0
matplotlib==3.8.2
ipykernel==6.28.0

# --------- hydra --------- #
hydra-core==1.2.0
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0

# --------- loggers --------- #
wandb

# --------- others --------- #
pyrootutils     # standardizing the project root setup
pre-commit      # hooks for applying linters on commit
rich            # beautiful text formatting in terminal
pytest          # tests
